:root {

    --darkgreen:rgb(2, 43, 19);
}

@media screen and (max-width: 450px) {
    .group_row {
        width: 10em;   
    }

    html {
        font-size: 0.5em;
    }

    .photoAlbum_highlights {
        width: 2em;
        height: 2em;
    }

    .header_image img {
        width: 100%;
    }

    .indx_bioimage {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 0 !important;
    }

    .group_info {
        margin: 0 !important;
    }

    .menubar {
        width: 50em !important;
    }
    
    .index_rightside {
        width: 50em !important;
    }

    .index_rightsidetext  {
        margin-top: 1em !important;
    }

    .dis_box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding:  1em !important;
        width: 100%; 
    }

    .songs, .articles {
        width: 100% !important;
    }

    .indx_bioimage {
        width: 3em;
        height: 3em;
    }
}

@media print {

  footer, img {
    display: none !important;
  }
}

body, header, h1, h2, main, ul, li {
    padding: 0;
    margin: 0;
}

html{
    display: flex;
    justify-content: center;

}

header {
    width: 100%;
}

.header_image {
    display: flex;
    justify-content: center;
}


body {
    background-color: black;
    color: white;
    max-width: 200em; 
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

p {
    text-align: justify;
}

main {
    display: flex;
    margin-top: 2em;
    padding: 2em;
}

.index_biography {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 2em;
}

.index_rightside {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 70em;
}

.index_rightside p{
    width: 70%;

}

.index_biography a {
    cursor: pointer;
    font-style: italic;
    color: red;
}

.menubar {
    display: flex;
    flex-direction: column;
    text-align: center;
    width:15em;
}

.sub_menubar li {
    padding: 2em;
    border-bottom: solid 0.1em white;
}

.sub_menubar li a {
    color: white;
    text-decoration: none;

}

.sub_menubar li a:hover {
    color: red;

}


.group_row {
    display: flex;
    align-items: center;
    width: 50em;   
}

.group_row h3 {
    display: inline-block; 
}
  
.group_row a {
    color: aqua;
    text-decoration: none;
}

.group_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.1em solid white;
    margin: 2em;
}

.group_title {
    width: 40%;
    padding-left: 2em;
}

.bio_links {
    display: flex; 
    flex-wrap: wrap;
    width: 60%;
}


.Album_highlights {
    display: flex;
    flex-direction: column;
    border-top: 0.1em solid white;
}

.photoAlbum_highlights {
    width: 10em;
    height: 10em;
    margin: 1em;
}


.album_firstrow {
    display: flex;
    justify-content: space-between;
}

.album_firstrow h3 {
    margin-right: 30em; 
}

.album_firstrow h4 {
    font-size: 1em;
    color: aqua;
}

.album_secondrow {
    display: flex;
    justify-content: space-between;
} 



.discography_album {
    border-top: 0.1em solid white;
}

.discography {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.discography > * {
    flex: 1; 
}

.discography a {
    text-decoration: none; 
    color: inherit; 
}

.discography a:hover {
    color: red;
}

.dis_box {
    background-color: blue;
    padding:  1em 20em;
}

a {
    text-decoration: none;
}

.year {
    font-weight: bold;
    margin-left: 1em;
}


.album-details { 
    text-decoration: none;
    color: inherit;
    display: block;
}

.discography_details {
    font-size: smaller;
}

.dis_album_img {
    width: 10em;
    height: 10em;
    margin: 1em;
}


.star-rating {
    justify-self: flex-end;
    color: gold; 
    margin-left: auto;
    text-align: center;
}

.songs {
    border-top: 0.1em solid white;
    width: auto;
}


.singleSongs {
    padding: 1em;
    border-bottom: 0.1em solid white;
}

.song_title {
    color: aqua;
}

.song_title a, .song_composer {
    text-decoration: none; 
    color: inherit; 
}

.song_title a:hover, .song_composer a:hover {
    color: red;
}
.song_composer {
    font-size: smaller;
}

.articles {
    white-space: nowrap;
    width: auto;
}

article .articles {
    margin: 0 auto;
    padding: 2em;
}


article a {
    text-decoration: none;
    color: inherit;
    margin: 1.5em;
}

article a:hover {
    color: red;
}



footer {
    display: flex;
    justify-content: center;
    background-color: darkgreen; 
    color: white;
    width: 100%;
}

footer p {
    text-align: center;
}

/* biography.html */
/*================*/


.rightside_biomain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

/* biography.html */
/*================*/

/* programs.html */
/*================*/
table {
  
     margin-top: 5em; 
}

th, td {
    border: 1px solid blue;
    text-align: center;
    padding: 2em;
}

th {
    background-color: blue;
}


/* artists.html */
/*================*/
.slider
{
    display: none;
}

.index_rightside {
    cursor: pointer;
}

.slider:checked + .index_rightside .group_info {
    display: none;
    
}

/* .index_rightside:hover {
    cursor: pointer;
} */

#section1:checked + .index_rightside #section1Content,
#section2:checked + .index_rightside #section2Content,
#section3:checked + .index_rightside #section3Content,
#section4:checked + .index_rightside #section4Content,
#section5:checked + .index_rightside #section5Content,
#section6:checked + .index_rightside #section6Content,
#section7:checked + .index_rightside #section7Content,
#section8:checked + .index_rightside #section8Content {
    display: block;
}