:root {

    --darkgreen:rgb(2, 43, 19);
}

@media screen and (max-width: 450px) {
    html {
        font-size: 0.5em;
    }
    }

@media screen and (max-width: 1400px) {
    .group_row {
        width: 10em;   
    }

    .photoAlbum_highlights {
        width: 2em;
        height: 2em;
    }


    .header_image img, .menubar, .index_rightside {
        width: 100% !important; 
    }

    .indx_bioimage {
        display: none;
    }

    .menubar {
        margin-bottom: 1em;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        padding: 0 !important;
    }

    .group_info {
        margin: 0 !important;
    }

    .index_rightsidetext  {
        margin-top: 1em !important;
    }

    .dis_box {

        padding:  1em !important;
        /* width: 100%;  */
    }


    .bio_image img {
        width: 15em;
    }

    .artistes_liste_info h4, .artistes_liste_row, .artistes_liste_info p {
        padding: 0 !important;
    
    }
}

@media print {

    html {
        color: black !important;
    }

  footer, img, .menubar, header {
    display: none !important;
  }

  .group_info {
    display: block !important;
}


}

body, header, h1, h2,h3, h4, main, ul, li {
    padding: 0;
    margin: 0;
}

header, main {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding: 2em;
    width: 80%;
}

body {
    background-color: black;
    color: white;
    width: 100%;  
}

ul {
    list-style-type: none;
}

p {
    text-align: justify;
}

.index_biography {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 2em;
}

.index_rightside {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 70em;
}

.index_rightside p {
    width: 70%;

}

.index_biography a {
    cursor: pointer;
    font-style: italic;
    color: red;
}

.menubar {
    display: flex;
    flex-direction: column;
    text-align: center;
    width:15em;
}

.sub_menubar li {
    padding: 2em;
    border-bottom: solid 0.1em white;
}

.sub_menubar li a {
    color: white;
    text-decoration: none;

}

.sub_menubar li a:hover {
    color: red;

}


.group_row {
    display: flex;
    align-items: center;
    width: 50em;   
    margin-bottom: 1em;
}

.group_row h3 {
    display: inline-block; 
}
  
.group_row a {
    color: aqua;
    text-decoration: none;
}

.group_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.1em solid white;
    margin: 2em;
}

.group_title {
    width: 40%;
    padding-left: 2em;
}

.bio_links {
    display: flex; 
    flex-wrap: wrap;
    width: 60%;
}


.Album_highlights {
    display: flex;
    flex-direction: column;
    border-top: 0.1em solid white;
}

.photoAlbum_highlights {
    width: 10em;
    height: 10em;
    margin: 1em;
}


.album_firstrow {
    display: flex;
    justify-content: space-between;
}

.album_firstrow h3 {
    margin-right: 30em; 
}

.album_firstrow h4 {
    font-size: 1em;
    color: aqua;
}

.album_secondrow {
    display: flex;
    justify-content: space-between;
} 



.discography_album {
    display: flex;
    flex-direction: column;
    border-top: 0.1em solid white;
}

.discography {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.discography a {
    text-decoration: none; 
    color: inherit; 
}

.discography a:hover {
    color: red;
}

.dis_box {
    text-align: center;
    box-sizing: border-box;
    background-color: blue;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
}

section {
    width: 80%;
    margin-bottom: 1em;
    padding-top: 1em;
}

a {
    text-decoration: none;
}

.year {
    font-weight: bold;

}


.album-details { 
    text-decoration: none;
    color: inherit;
}

.discography_details {
    display: flex;
    flex-direction: column;
    font-size: smaller;
}

.dis_album_img {
    width: 10em;
    height: 10em;
    margin: 1em;
}


.star-rating {
    color: gold; 
    text-align: center;
}

.songs {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.1em solid white;

}


.singleSongs {
    padding: 1em;
    text-align: center;
    width: 70%;
    border-bottom: 0.1em solid white;
}

.song_title {
    color: aqua;
}

.song_title a, .song_composer {
    text-decoration: none; 
    color: inherit; 
}

.song_title a:hover, .song_composer a:hover {
    color: red;
}
.song_composer {
    font-size: smaller;
}

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles h4 {
    padding: 2em;
   
}

article a {
    text-decoration: none;
    color: inherit;
    margin: 1.5em;
}

article a:hover {
    color: red;
}



footer {
    display: flex;
    justify-content: center;
    background-color: darkgreen; 
    color: white;
    width: 100%;
}

footer p {
    text-align: center;
}

/* biography.html */
/*================*/


.rightside_biomain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

/* biography.html */
/*================*/

/* programs.html */
/*================*/
table {
  
     margin-top: 5em; 
}

th, td {
    border: 1px solid blue;
    text-align: center;
    padding: 2em;
}

th {
    background-color: blue;
}


/* artists.html */
/*================*/

 .artistes_liste_box {
    text-align: center;
    background-color: blue;
    cursor: pointer;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
}

.artistes_liste_info a {
    color: aqua;

}

.artistes_liste_info h4, .artistes_liste_row, .artistes_liste_info p {
    padding: 0 3em;

}
.artistes_liste_row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.artistes_liste_info p {
   width: 90% !important;
} 

.artistes_liste_title {

   min-width: 12em;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.slider, .slider2,
.slider3, .slider4,
.slider5, .slider6,
.slider7
{
    display: none;
}

.slider:checked + #section1Content,
.slider2:checked +  #section2Content,
.slider3:checked + #section3Content,
.slider4:checked + #section4Content,
.slider5:checked + #section5Content,
.slider6:checked + #section6Content,
.slider7:checked + #section7Content {
    display: none;
}
